/*default setting*/

*{
    margin: 0;
    font-family: 'open sans',sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn{
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    background:#FD6E0A;
    color: #fff;
    border-radius: 5px;
}
/*header section*/
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
.container{
    background: #FFF8F3;
    background-image:url('./images/header_bg.png'),url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
     
}
nav{
    display: flex;
    justify-content: space-between;
    margin:0 200px;
    align-items: center;
    padding-top: 50px;
}
nav>ul{
   display: flex;
   justify-content: center;
   align-items: center;
}
ul li{
     list-style: none;
     margin-left:50px ;
}
 /* banner style */
 .banner{
    margin-left: 200px;
    display: flex;
    align-items: center;
    margin-right: 50px;
     
 }
  
 .banner-subtitle{
    font-size:45px;
    font-weight: 600;
 }
 .banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
 }
 .banner-description{
    color: #757575;
    font-size: 18px;
 }
 .banner .btn{
    margin-top:100px;
 }
 /* about-section start */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }
   .about{
        text-align: center;
        background:#FFF8F3;
        margin: 130px;
        padding: 130px 100px;
   }
   .section-title{
       margin-bottom: 30px;
       font-size: 45px;
       font-weight: 700;
   }
   .about-description{
        color: #757575;
        font-size: 18px;
        margin-bottom: 30px;
   }
   .about-information{
     display: flex;
     justify-content: space-around;

      
   }
   .about-info-title{
      font-size: 20px;
       color: #757575;

   }
   .about-name{
       font-weight: 700;
       font-size: 20px;
       color: #474747;
       margin-top: 20px;
   }
 /* about-section end */
 /* what I do start */
   .what-i-do{
    margin: 130px;
    }
   .what--i-do-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
   }
   .what-i-do-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
   }
   .content-item{
    display: flex;
    gap: 24px;
  
 
    

   }
   .content{
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
  }
   .what-i-do-heading{
    font-size: 18px;
    padding: 20px 0;
    font-weight:400;
   }
   .what-i-do-sub-description{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
   }
 /* what I do End */
 /* resume start */
 .resume-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    padding: 30px 0;

 }
 .edu-title{
    margin: 20px 0;
    color: #474747;
    font-size: 35px;
 }
 .resume-content{
    display: flex;
    gap: 24px;

 }
 /* resume end */
